@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /*#1d1836*/
  --background-tertiary-color: #070d1b;
  --green-pink-gradient-color: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  --blue-text-gradient-color: linear-gradient(to top, #2f80ed, #56ccf2);

  /* Preloader */
  --background-preloader-color: rgba(229, 220, 220, 0.2);
  --preloader-color: #11998e;

  /* Side bar */
  --button-background-sidebar-color: #101624;
  --hover-sidebar-color: rgb(119, 119, 119);
  --button-sidebar-color: #f2f3f5;

  /* Social link */
  --background-social-link-color: #101624;
  --button-background-social-link-color: #070d1b;
  --button-border-social-link-color: #3f4551;
  --hover-social-link-color: rgba(98, 98, 98, 0.5);

  /* Title */
  --font-title-color: #3f4551;
  --font-sub-title-color: #e5e5f1;

  /* Font */

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: #1d1836;*/
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}


.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to right,
          #434343,
          #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to right,
          #434343,
          #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
          -90deg,
          #804dee 0%,
          rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: var(--green-pink-gradient-color);
}


.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #f12711,
          #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #f12711,
          #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #11998e,
          #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #11998e,
          #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: var(--blue-text-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #ec008c,
          #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #ec008c,
          #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-tertiary{
  background-color: var(--background-tertiary-color);
  /*background-color: black;*/
}

.green-pink-gradient-color-text{
  font: var(--green-pink-gradient-color);
}
.green-pink-gradient-color-border{
  border-color: var(--green-pink-gradient-color);
}
